<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controller.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardControler</servlet-name>
        <servlet-class>controller.DashboardControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDep</servlet-name>
        <servlet-class>controller.UpdateDepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/HomeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardControler</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>updateDep</servlet-name>
        <url-pattern>/UpdateDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allDepServlet</servlet-name>
        <servlet-class>controller.AllDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDep</servlet-name>
        <servlet-class>controller.AddDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDepartment</servlet-name>
        <servlet-class>controller.DeleteDepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allDepServlet</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDep</servlet-name>
        <url-pattern>/addDep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDepartment</servlet-name>
        <url-pattern>/DeleteDepartment</url-pattern>
    </servlet-mapping>
</web-app>
